@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap");
@import "tailwindcss";
* {
  font-family: "Open Sans", sans-serif;
}
@layer base {
  button {
    @apply cursor-pointer;
  }
}
